html {
}

p.b {
    font: italic bold 12px/30px Georgia, serif;
}
/*#40FF00; #04B4AE; #FA58AC;*/

$("p.title").css({"font-size": "40px", "text-align":"center", "background-color": "black"});) {
    /*font-size: 40px;
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;*/
}

.motivation {
    ({"width": "10%", "background-color":"#FAAC58", "height:90px", "border:10px:dotted: background-color":"black"}))
    /*{"width": "10%", "background-color":"#FAAC58", "height:90px", "border:10px:dotted: background-color":"black"}))
    margin: 0 auto;
    width: 10%;
    background-color: #FAAC58;
    padding: 5%;
    height: 90px;
    border: 10px dotted black;
    text-align: center;
    font-size: 26px
div{"align-items": "center"}*/
}

.new {
    $("new").css({"text-align":"center"}))
}

.one1 {
    $("h2", "div", "span").css({"background-color":"#40FF00", "width: "20%", "border":black", "height":"100px"})
    /* background-color: #40FF00;
    width: 20%;
    border-color: black;
    padding: 1%;
    height: 100px;
    opacity: .5;
    margin: 20px
}
} */
    .two2

{
}

$("h2", "div", "span").css({"background-color":"#04B4AE", "width: "20%", "border":black", "height":"100px"})
/*width: 20%;
    border-color: black;
    padding: 1%;
    height: 100px;
    opacity: .5;
    margin: 20px;
}    */
.three3 {
    $("h2", "div", "span"
}

).css({"background-color":"#FA58AC", "width: "20%", "border":black", "height":"100px"})
/*  background-color: #FA58AC;
    width: 20%;
    border-color: black;
    padding: 1%;
    height: 100px;
    opacity: .5;
    margin: 20px;
}  */
.boxuno {
    $("width").css({60%}) width: 60%;
    margin: 0 auto;
}

.msg $("msg").css({"font-weight:22px", "text-align": "center"}) {
}
/* font-size: 22px;
    text-align: center;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif; */

p.title {
    $("p.title").css({"font-size": "40px", "text-align":"center", "background-color": "black"});
    /*  font-size: 30px;
    text-align: center;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif; */
}

.s {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    font: normal normal bold 20px/normal "Times New Roman", Times, serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #7df470;
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

    .s:hover {
        border: 1px solid #018dc4;
        border-radius: 3px;
        font: normal normal bold 40px/normal "Times New Roman", Times, serif;
        color: rgba(255,255,255,1);
        background: rgba(10,89,1,1);
        transition: all 1000ms cubic-bezier(0.42, 0, 0.58, 1) 100ms;
    }

/*.button {
    $(:button).css({"background-color": "#ffd800", "height": "45px", "color": "black", "border-style": "solid", "border-width":"5px", "font-size": "28px" "width": "9%", "text-align":"center" }) */
/*  height: 45px;
    color: black;
    text-align: center;
    background-color: #59CE4D, 
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 28px;
} */
/*Three color boxes*/
.one {
    $("h1,div,p").el1,el2,el3({"width": "30%", "border-color": "black", "height": "200px",}) /*one two and three are exactly the same*/
    $("div").css({"background-color": "#FA58AC", "#04B4AE", "#40FF00"})
    /*  background-color:#FA58AC
    width: 30%;
    border-color: black;
    padding: 1%;
    height: 200px;
    opacity: .8;
    margin: 1px;
} .two {
    background-color: #04B4AE;
    width: 30%;
    border-color: black;
    padding: 1%;
    height: 200px;
    opacity: .8;
    margin: 1px;
} .three {
    background-color: #40FF00;
    width: 30%;
    border-color: black;
    padding: 1%;
    height: 200px;
    opacity: .8;
    margin: 1px;
} */
    /*Three color boxes*/
    /*function ProcessBox1() {
    var randomNumber1 = '';
    }
function processBox2() {
    var randomNumber = '';
    }
function ProcessBox1() {
    var randomNumber3 = '';
}*/
